<!DOCTYPE html>
<html>
   <div id="frontpage" >
      <h1>
      IOBO 
      <link href="/">
      </h2>
      <h2>Welcome to Image OBO | Images to Ontologies.</h2>
      <a href="../add_protein">Add Protein</a>&nbsp
      <a href="../add_complex">Add Complex</a>&nbsp
      <a href="../add_metabolite">Add Metabolite</a>&nbsp      
      <a href="../add_relationship">Add Relationship</a>&nbsp      
      <a href="../delete_relationship">Delete Relationship</a>&nbsp
   </div>
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
      <title>IOBO | Images to Ontologies</title>
      <link rel="stylesheet" href="[% css_url %]" />
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
      <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
      <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/resources/demos/style.css">
   </head>
   <body>
	   [% IF flash.message %]
	     <div class=message> [% flash.message %] </div>
	   [% END %]

      <script>
         // http://jqueryui.com/autocomplete/
         $(function() {
            var availableTags = [
            "S6K",
            "GSK-3",
            "RAPTOR:mTOR",
            ];
            $( "#genes" ).autocomplete({
              source: availableTags
            });	    
            $( "#relationship_gene1" ).autocomplete({
              source: availableTags
            });
            $( "#relationship_gene2" ).autocomplete({
              source: availableTags
            });
            $( "#relationship_gene3" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene4" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene5" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene6" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene7" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene8" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene9" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene10" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene11" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene12" ).autocomplete({
              source: availableTags
            });
         
            $( "#relationship_gene13" ).autocomplete({
              source: availableTags
            });
	    });                
      </script>   
      <!-- content is where all other pages are inserted -->
      [% content %]
      </div>
   </body>
</html>