<div id="gene_list" class="center">
   <br>
   <form id="gene_info" method="POST" action="[% create_gene_list %]">
      <br>
      Enter list of gene names:
      <br>
      <textarea id="gene_list_box" name="gene_list">
      </textarea><br>
      <input type="submit" value="Submit" />
   </form>
</div>