<div id="metabolic_list" class="center">
   <br>
   <form id="gene_info" method="POST" action="[% create_metabolic_list %]">
      <br>
      Enter list of metabolic mediators on image:
      <br>
      <textarea id="gene_list_box" name="metabolic_list">
      </textarea><br>
      <input type="submit" value="Submit" />
   </form>
</div>