body
{
  background-color:#F0FFFF;
  background-image:url(/images/connect.png);
  background-repeat:repeat;
  background-position:top left;
  font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana;
  font-size:13px;
  color:#333;
  margin:0 0 25px;
  padding:0;
}

input[type="text"]
{
  width:400px;
  display:block;
  border:1px solid #999;
  font-size:14px;
  height:25px;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 8px rgba(0,0,0,0.3);
}

h1
{
  font-size:40px;
  font-style:bold;
  line-height:24px;
  font-weight:700;
  color:#09C;
  margin:20px;
}

#add_node_info
{
  background:0;
  background-color:#F0FFFF;
  width:410px;
  height:1470px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:12px;
  line-height:24px;
  font-weight:700;
  text-decoration:none;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:inset 1px solid #333;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 1px rgba(0,0,0,0.3);
  margin:auto;
  padding:10px;
}

#update_node_info
{
  left:40%;
  background:0;
  background-color:#C9E5FF;
  width:410px;
  height:1870px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:12px;
  line-height:24px;
  font-weight:700;
  text-decoration:none;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:inset 1px solid #333;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 1px rgba(0,0,0,0.3);
  margin:auto;
  padding:10px;
}

#delete_node_info
{
  left:40%;
  background:0;
  background-color:#F0FFFF;
  width:400px;
  height:220px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:12px;
  line-height:24px;
  font-weight:700;
  text-decoration:none;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:inset 1px solid #333;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 1px rgba(0,0,0,0.3);
  margin:auto;
  padding:10px;
}

#gene_info
{
  left:40%;
  background:0;
  background-color:#F0FFFF;
  width:400px;
  height:400px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:12px;
  line-height:24px;
  font-weight:700;
  text-decoration:none;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:inset 1px solid #333;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 1px rgba(0,0,0,0.3);
  margin:auto;
  padding:10px;
}

#complex_info
{
  left:40%;
  background:0;
  background-color:#F0FFFF;
  width:400px;
  height:420px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:12px;
  line-height:24px;
  font-weight:700;
  text-decoration:none;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:inset 1px solid #333;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 1px rgba(0,0,0,0.3);
  margin:auto;
  padding:10px;
}

#relationship_select
{
  right:150px;
  background:0;
  background-color:#F0FFFF;
  position:fixed;
  width:300px;
  height:180px;
  font-family:Tahoma, Geneva, sans-serif;
  font-size:12px;
  line-height:24px;
  font-weight:700;
  text-decoration:none;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  border:inset 1px solid #333;
  -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow:0 0 8px rgba(0,0,0,0.3);
  box-shadow:0 0 1px rgba(0,0,0,0.3);
  margin:auto;
  padding:10px;
}

input#name
{
  width:385px;
  height:20px;
  border:3px solid #ccc;
  font-family:Tahoma, sans-serif;
  background-image:url(bg.gif);
  background-position:bottom right;
  background-repeat:no-repeat;
  padding:5px;
}

#search_head
{
  margin-left:auto;
  margin-right:auto;
  width:20%;
  color:#333;
  background-color:#F0FFFF;
}

#frontpage
{
  text-align:center;
}

#select_box
{
  float:right;
  width:220px;
}

textarea#box
{
  resize:none;
  font-size:12px;
  width:385px;
  height:120px;
  border:3px solid #ccc;
  font-family:Tahoma, sans-serif;
  background-image:url(bg.gif);
  background-position:bottom right;
  background-repeat:no-repeat;
  padding:5px;
}

textarea#gene_list_box
{
  resize:none;
  font-size:15px;
  width:390px;
  height:300px;
  border:3px solid #ccc;
  font-family:Tahoma, sans-serif;
  background-image:url(bg.gif);
  background-position:bottom right;
  background-repeat:no-repeat;
  padding:5px;
}

textarea#complex_list_box
{
  resize:none;
  font-size:15px;
  width:390px;
  height:100px;
  border:3px solid #ccc;
  font-family:Tahoma, sans-serif;
  background-image:url(bg.gif);
  background-position:bottom right;
  background-repeat:no-repeat;
  padding:5px;
}

textarea#box2
{
  resize:none;
  font-size:12px;
  width:385px;
  height:px;
  border:3px solid #ccc;
  font-family:Tahoma, sans-serif;
  background-image:url(bg.gif);
  background-position:bottom right;
  background-repeat:no-repeat;
  padding:5px;
}

#gse .gsc-search-box
{
  width:1000px;
  margin:auto;
}

#gene_view
{
  float:left;
}

#wrap
{
  min-width:200px;
}

input[type=submit]
{
  width:400px;
  font-size:13px;
  background:#ccc;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius:5px;
  border-radius:5px;
  padding:5px 15px;
}